.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        - if @versions.last.previous.present? && @versions.last.previous.reify(has_many: true, belongs_to: true).present?
          - if @versions.last.changeset.length == 1 && @versions.last.changeset[:updated_at] && (@versions.last.item.agencies.pluck(:name) - @versions.last.previous_agencies).any?
            .panel.panel-info
              .panel-heading
                %h5
                  %span= "#{@versions.last.whodunnit} did the following change."
                  %span{ class: "pull-right label label-#{version_color(@versions.last.event)}" }
                    = @versions.last.event.titleize
              .panel-body
                %table.table.table-hover
                  %thead
                    %tr
                      %th Attribute
                      %th Before
                      %th After
                  %tbody
                    %tr
                      %td Agencies
                      %td= @versions.last.previous_agencies.join(', ')
                      %td= @versions.last.item.agencies.pluck(:name).join(', ')
        - @versions.each do |version|
          .panel.panel-info
            .panel-heading
              %h5
                %span= "#{version.whodunnit} did the following change."
                %span{ class: "pull-right label label-#{version_color(version.event)}" }
                  = version.event.titleize

            .panel-body
              - if version.event == 'delete'
                = "Deleted #{version.item_type} ID #{version.reify.slug}, name #{version.reify.name}."
              - else
                %table.table.table-hover
                  %thead
                    %tr
                      %th Attribute
                      %th Before
                      %th After
                  %tbody
                    - if version.previous.present? && version.previous.reify(has_many: true, belongs_to: true).present?
                      %tr
                        %td Agencies
                        %td= version.previous_before_agencies.join(', ')
                        %td= version.previous_agencies.join(', ')
                    - version.changeset.each do |k, v|
                      %tr
                        %td= k.titleize
                        - if v[0].class == ActiveSupport::TimeWithZone
                          %td= v[0].in_time_zone.strftime('%d %B, %Y %H:%M:%S')
                        - else
                          %td= v[0]
                        - if v[1].class == ActiveSupport::TimeWithZone
                          %td= v[1].in_time_zone.strftime('%d %B, %Y %H:%M:%S')
                        - else
                          %td= v[1]