#government-report
  .row
    .col-xs-5.col-xs-offset-7
      %h4
        %p.text-center
          %b= t('kingdom_of_wonder')
        %p.text-center
          %b= t('nation_religion_king')
    .col-xs-12
      %p{ style: 'width:50%;display:table;' }
        %span{ style: 'display:table-cell;widht:37%;' }= "#{t('header_capital_province')} :"
        %span{ style: 'display:table-cell;border-bottom:1px dotted #000;width:63%;' }
      %p{ style: 'width:50%;display:table;' }
        %span{ style: 'display:table-cell;widht:37%;' }= "#{t('header_city_district')} :"
        %span{ style: 'display:table-cell;border-bottom:1px dotted #000;width:63%;' }
      %p{ style: 'width:50%;display:table;' }
        %span{ style: 'display:table-cell;widht:37%;' }= "#{t('header_commune')} :"
        %span{ style: 'display:table-cell;border-bottom:1px dotted #000;width:63%;' }
    .col-xs-12.text-center
      %h4{style:'margin-top:40px;'}
        %b= t('first_response_form')
      %p{style:'margin-bottom:40px;'}= "(#{t('for_children_who_are_in_danger')})"
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-6
          %p
            %span= "#{t('date')} :"
            %span{ style: 'width:20%;display:inline-block;border-bottom:1px solid #000;' }
            %span /
            %span{ style: 'width:20%;display:inline-block;border-bottom:1px solid #000;' }
            %span /
            %span{ style: 'width:20%;display:inline-block;border-bottom:1px solid #000;' }          
        .col-xs-6
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:35%;' }= "#{t('client_code')} :"
            %span{ style: 'width:65%;display:table-cell;border-bottom:1px solid #000;' }            

    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:40%;' }= "#{t('commune')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:60%;' }= "#{t('city_district')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:50%;' }= "#{t('province_capital')} :"
            %span{ style: 'display:table-cell;width:50%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-6
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:40%;' }= "#{t('name')}#{t('shortcut')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
        .col-xs-6
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:40%;' }= "#{t('phone_number')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-5
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:40%;' }= "#{t('client_name')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
        .col-xs-4
          %p
            %span= "#{t('date_of_birth')} :"
            %span{ style: 'width:11%;display:inline-block;border-bottom:1px solid #000;' }
            %span /
            %span{ style: 'width:11%;display:inline-block;border-bottom:1px solid #000;' }
            %span /
            %span{ style: 'width:12%;display:inline-block;border-bottom:1px solid #000;' }
        .col-xs-3
          %p
            %span= "#{t('gender')} :"
            %input{ type: 'checkbox' }= t('boy')
            %input{ type: 'checkbox' }= t('girl')
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      %p{ style: 'display:table;width:100%;' }
        %span{ style: 'display:table-cell;width:24%;' }= "#{t('first_found_client_place')} :"
        %span{ style: 'display:table-cell;width:5%;' }= t('at')
        %span{ style: 'display:table-cell;width:33%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:5%;' }= t('village')
        %span{ style: 'display:table-cell;width:33%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      %p{ style: 'display:table;width:100%;' }
        %span{ style: 'display:table-cell;width:15%;' }= "#{t('education_level')} :"
        %span{ style: 'display:table-cell;width:85%;border-bottom:1px solid #000;' }
    .col-xs-12{ style: 'padding:5px 0;' }
      .row
        .col-xs-6
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:35%;' }= "#{t('carer_name')} :"
            %span{ style: 'display:table-cell;width:65%;border-bottom:1px solid #000' }
        .col-xs-6
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:50%;' }= "#{t('communication_with_client')} :"
            %span{ style: 'display:table-cell;width:60%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      %p{ style: 'display:table;width:100%;' }
        %span{ style: 'display:table-cell;width:22%;' }= "#{t('carer_address')} :"
        %span{ style: 'display:table-cell;width:8%;' }= "#{t('house_number')} :"
        %span{ style: 'display:table-cell;width:8%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:8%;' }= "#{t('street_number')} :"
        %span{ style: 'display:table-cell;width:8%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:5%;' }= "#{t('village')} :"
        %span{ style: 'display:table-cell;width:8%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:10%;' }= "#{t('district')} :"
        %span{ style: 'display:table-cell;width:10%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:60%;' }= "#{t('city_district')} :"
            %span{ style: 'display:table-cell;width:40%;border-bottom:1px solid #000;' }
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:50%;' }= "#{t('province_capital')} :"
            %span{ style: 'display:table-cell;width:50%;border-bottom:1px solid #000;' }
        .col-xs-4
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:50%;' }= "#{t('phone_number')} :"
            %span{ style: 'display:table-cell;width:50%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      %p{ style: 'display:table;width:100%;' }
        %span{ style: 'display:table-cell;width:45%;' }= "#{t('date_received_info')} :"
        %span{ style: 'display:table-cell;width:5%;' }= t('day')
        %span{ style: 'display:table-cell;width:13%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:5%;' }= t('month')
        %span{ style: 'display:table-cell;width:13%;border-bottom:1px solid #000;' }
        %span{ style: 'display:table-cell;width:5%;' }= t('year')
        %span{ style: 'display:table-cell;width:14%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      .row
        .col-xs-12
          %p{ style: 'display:table;width:100%;' }
            %span{ style: 'display:table-cell;width:20%;' }= "#{t('transfer_info')} :"
            %span{ style: 'display:table-cell;width:5%;' }= "#{t('name')}"
            %span{ style: 'display:table-cell;width:35%;border-bottom:1px solid #000;' }
            %span{ style: 'display:table-cell;width:5%;' }= "#{t('position')}"
            %span{ style: 'display:table-cell;width:35%;border-bottom:1px solid #000;' }
    .col-xs-12.wide-hight{ style: 'padding:5px 0;' }
      %p
        %span= t('or')
        %input{ type: 'checkbox' }
        %span= "#{t('anonymous')} :"
    %footer{ style: 'page-break-after:always;'}
      %p.wide-height{style:'display:inline-block;border-bottom:1px solid #000;width:100%;padding: 5px 0;'}
      %p.wide-height{style:'display:inline-block;border-bottom:1px solid #000;width:100%;padding: 5px 0;'}
      %p.wide-height{style:'display:inline-block;border-bottom:1px solid #000;width:100%;padding: 5px 0;'}
      %p.wide-height{style:'display:inline-block;border-bottom:1px solid #000;width:100%;padding: 5px 0;'}
    .col-xs-12
      %p
        %span= "#{t('danger_situation')} : #{t('check')}"
        %span "
        %i.fa.fa-check
        %span "
        %span= t('every_point')
    .col-xs-12
      .row
        .col-xs-6
          %p
            %span= "#{t('one')}-"
            %span= t('reason_for_family_separation')
          %p
            %input{ type: 'checkbox' }
            %span= t('abandoned')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_changed_home')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_changed_home')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_living_independently')
          %p
            %input{ type: 'checkbox' }
            %span= t('orphan_lost_mother_father_both')
          %p
            %input{ type: 'checkbox' }
            %span= t('orphan_lost_father')
          %p
            %input{ type: 'checkbox' }
            %span= t('orphan_lost_mother')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_living_on_street')
          %p
            %input{ type: 'checkbox' }
            %span= t('other')
        .col-xs-6
          %p
            %span= "#{t('two')}-"
            %span= t('lack_of_necessary_need')
          %p
            %input{ type: 'checkbox' }
            %span= t('food')
          %p
            %input{ type: 'checkbox' }
            %span= t('habitation')
          %p
            %input{ type: 'checkbox' }
            %span= t('education')
          %p
            %input{ type: 'checkbox' }
            %span= t('health_care')
          %p
            %input{ type: 'checkbox' }
            %span= t('parents_guardians_have_poor_card')
          %p
            %input{ type: 'checkbox' }
            %span= t('other')
      .row
        .col-xs-6
          %p
            %span= "#{t('three')}-"
            %span= t('history_of_harm')
          %p
            %input{ type: 'checkbox' }
            %span= t('physical_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('sexual_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('emotional_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_exploitation')
          %p
            %input{ type: 'checkbox' }
            %span= t('exessive_child_labour')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_violence')
          %p
            %input{ type: 'checkbox' }
            %span= t('experience_with_trafficking')
          %p
            %input{ type: 'checkbox' }
            %span= t('danger_of_trafficking')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_violence')
          %p
            %input{ type: 'checkbox' }
            %span= t('neglect')
          %p
            %input{ type: 'checkbox' }
            %span= t('other')                                    
        .col-xs-6
          %p
            %span= "#{t('three')}-"
            %span= t('history_of_harm')
          %p
            %input{ type: 'checkbox' }
            %span= t('physical_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('sexual_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('emotional_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_exploitation')
          %p
            %input{ type: 'checkbox' }
            %span= t('exessive_child_labour')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_violence')
          %p
            %input{ type: 'checkbox' }
            %span= t('experience_with_trafficking')
          %p
            %input{ type: 'checkbox' }
            %span= t('other')
      .row
        .col-xs-6
          %p
            %span= "#{t('three')}-"
            %span= t('history_of_harm')
          %p
            %input{ type: 'checkbox' }
            %span= t('physical_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('sexual_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('emotional_abuse')
          %p
            %input{ type: 'checkbox' }
            %span= t('child_exploitation')
          %p
            %input{ type: 'checkbox' }
            %span= t('exessive_child_labour')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_violence')
          %p
            %input{ type: 'checkbox' }
            %span= t('experience_with_trafficking')
          %p
            %input{ type: 'checkbox' }
            %span= t('danger_of_trafficking')
          %p
            %input{ type: 'checkbox' }
            %span= t('family_violence')
          %p
            %input{ type: 'checkbox' }
            %span= t('other')
    .col-xs-12
      %p
        %span= "#{t('is_child_living_with_parents_or_guardians')}?"
        %input{ type: 'checkbox' }
        %span= t('positive')
        %input{ type: 'checkbox' }
        %span= t('negative')
    .col-xs-12
      %p= "#{t('child_situation_and_need')} :"
    .col-xs-12
      %table.table.table-bordered
        %thead
          %tr
            %th
            %th.text-center{style:'padding-left:20px;padding-right:20px;'}= t('present_situation')
            %th.text-center{style:'padding-left:50px;padding-right:50px;'}= t('need')
            %th.text-center{style:'padding-left:20px;padding-right:20px;'}= t('intervention_plan')
        %tbody
          %tr
            %td= t('physical_health')
            %td
            %td
            %td
          %tr
            %td
              %span= t('food_habitation')
              %br
              %span= "#{t('and')} #{t('clothes')}"
            %td
            %td
            %td
          %tr
            %td= t('education')
            %td
            %td
            %td
          %tr
            %td= t('communication_in_family')
            %td
            %td
            %td
          %tr
            %td= t('communication_in_society')
            %td
            %td
            %td
          %tr
            %td= t('emotional_health')
            %td
            %td
            %td
    .col-xs-12
      %p= "#{t('necessary_mission')} :"
      %ul{ style: 'list-style:none;' }
        %li
          %input{ type: 'checkbox' }
          %span= t('none')
        %li
          %input{ type: 'checkbox' }
          %span= t('exist')
        %li
          %span= "#{t('if_exist')} (#{t('check')}"
          %span "
          %i.fa.fa-check
          %span "
          %span= "#{t('missions_which_need_to_be_done')})"
          %ul{ style: 'list-style:none;' }
            %li
              %input{ type: 'checkbox' }
              %span= t('follow_procedures_for_car')
            %li
              %input{ type: 'checkbox' }
              %span= t('keep_children_in_family')
            %li
              %input{ type: 'checkbox' }
              %span= t('compact_family')
            %li
              %input{ type: 'checkbox' }
              %span= t('leave_away_children')
    .col-xs-6.col-xs-offset-6
      %p.text-center
        %span= t('day')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
        %span= t('month')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
        %span= t('year')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
      %p.text-center
        %span= t('shortcut')
    .col-xs-6{ style: 'margin-bottom:70px;' }
      %p.text-center
        %span= t('day')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
        %span= t('month')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
        %span= t('year')
        %span{ style: 'width:50px;display:inline-block;border-bottom:1px dotted #000' }
      %p.text-center= t('seen_and_agreed')
      %p.text-center= t('signature')
  .row
    .col-xs-12
      %p
        %strong= t('copy')
      %p{ style: 'padding-left:50px;' }
        = "- #{t('office')}"